root = true

[*]
charset = utf-8
insert_final_newline = true
indent_style = space
indent_size = 4

[*.{cs,csproj,props,slnx,json,yml,yaml}]
trim_trailing_whitespace = true

[*.cs]
csharp_style_namespace_declarations = file_scoped:warning
dotnet_sort_system_directives_first = true
